body {
	background-color: #55ACEE;
	margin: 0px;
	text-align: center;
	

}
div {
	/*border: 1px solid red ;*/
	text-align: left;
	
}
#header{
	height: 48px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	position: fixed;
	background-color: #F5F8FA;
}
#background{
	background-image: url("images/background.jpg"); 
	height: 100%;
	width: 100%;
	top: 48px;
	position: fixed;
	z-index: -1;
}
#middle{ 
	top: 48px;
	height: 100%;
	width: 100%;
	position: absolute;
}
#mid_tweet{
	position: absolute;
	background-color: #F5F8FA;
	width: 500px;
	top: 20px;
	left: 30%;
}
img{
	top: 15px;
	position:relative;
}
 
